/* pinturas */
.firstSectiond{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 6%;
}

.footerd{
    padding: 5px;
    margin-top: 40px;
    h3{
        font-size: 25px;
    }
}

.logo-navbar{
    height: 80px;

}
.col :hover{
    transform: scale(2);
    transition: all 5s;
}